# External Code/Libs
/node_modules/
/vendor/

# Built plugin files
build/*
!build/.gitkeep

# Distribution Archive
dist/*
!dist/.gitkeep

# Ignore Build Files in Src
src/assets/js/block.build.js
src/assets/js/block.build.min.js